// Primary Colours
//
// The primary colours for branding.
//
// Colors:
// $red500: #e85d4a - Default Red
// $red600: #cd4435 - Slightly darker Red
// $red700: #c0473a - Dark Red
// $grey900: #232323 - Darkest Grey AC Black
// $green500: #65b144 - Green;
//
// Weight: 0
//
// Styleguide: Utilities - Colours

$red500: #e85d4a;
$red600: #cd4435;
$red700: #c0473a;
$grey900: #232323;
$green500: #65b144;